body {
  background: #111111 !important;
}

.nav-link {
  color: white !important;
  font-size:larger !important;
}

.Header .navbar-toggler {
  background: var(--primary) !important;
}

.Header .navbar-toggler-icon {
  filter: invert(1) !important;
}

.nav-link.active {
  color: #FFBF00 !important;
  font-size:larger;
}

:root {
  --primary: #0500FF !important;
  --secondary: #FFBF00 !important;
}

.bg-primary-1 {
  background: var(--primary) !important;
}

.bg-primary-2 {
  background: #0400ff7c !important;
}

.text-primary-1 {
  color: var(--primary) !important;
}

.border-primary-1 {
  border-color: var(--primary) !important;
}

.bg-secondary-1 {
  background: var(--secondary) !important;
}

.bg-secondary-2 {
  background: #FFBF007c !important;
}

.text-secondary-1 {
  color: var(--secondary) !important;
}

.border-secondary-1 {
  border-color: var(--secondary) !important;
}

.section-title {
  font-size: 3.5rem !important;
  font-weight: 700;
}

.NFTCard {
  width: 320px;
}

.NFTCard .button-section {
  bottom: -4.5%;
}

.TeamMemberCard {
  background: #343434 !important;
}

.accordion .accordion-item .accordion-header button {
  background: transparent !important;
  color: white !important;
  font-size: 1.5rem;
  font-weight: 600;
  border-bottom: none !important;
}

.accordion-button:focus {
  box-shadow: none !important;
}

.accordion-button::after {
  background: none !important;
  color: var(--primary) !important;
  content: "+" !important;
  font-size: 2rem !important;
  width: 30px !important;
  height: 30px !important;
  display: flex !important;
  align-items: center !important;
}

.accordion-button:not(.collapsed)::after {
  background: none !important;
  color: var(--primary) !important;
  content: "-" !important;
  font-size: 2rem !important;
  width: 30px !important;
  height: 30px !important;
  display: flex !important;
  align-items: center !important;
  transform: rotate(0) !important;
}

.ExploreCard  {
  box-shadow: -10px 10px 0px 0px white;
  margin-left: 10px;
}

.ExploreCard .card-title {
  font-size: 3.5rem !important;
}

.advantage-card::before {
  box-shadow: 0 0 180px 50px var(--secondary) !important;
    content: " ";
    position: absolute;
    width: 15% !important;
    background-color: #7f610a;
    border-radius: 50% !important;
    height: 20%;
    left: 45%;
    bottom: 30%;
    z-index: 1;
}

img[alt="main-banner"] {
  transform: scale(1.3);
}

.presale-btn::after {
  content: " ";
  background-image: url('./assets/images/banners/presale-btn.svg');
  background-repeat: no-repeat;
  position: absolute;
  bottom: -150%;
  left: 20%;
  width: 167%;
  height: 150%;
}

.conference-timeline-content{
  display: flex;
  justify-content: end;
}

.roadmapRow{
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-top: 3rem;
  margin-top: 3rem;
}

@media screen and (max-width: 768px) {
  .section-title {
      font-size: 3rem !important;
  }

  .presale-btn::after {
    left: 0% !important;
    bottom: -125%;
    width: 150%;
  }

  .main-timeline-section .conference-timeline-content .timeline-article{
    width: 100% !important;
    position: unset !important;
    float: left !important;
    min-height: 200px !important;
  }

  .conference-timeline-content{
    display: block;
  }

  .conference-center-line,
  .meta-date {
    display: none !important
  }

  .timeline-article .content-box {
    position: unset !important;
  }

  .roadmapRow{
    padding: 0;
    margin: 0;
  }
}

button {
  vertical-align: text-bottom !important;
}

@keyframes animation {
  0% {transform: translateY(0px)}
  50% {transform: translateY(50px)}
  100% {transform: translateY(0px)}
}
@keyframes animation1 {
  0% {transform: translateY(0px)}
  50% {transform: translateY(-50px)}
  100% {transform: translateY(0px)}
}

@keyframes animation2 {
  0% {transform: scale(1)}
  50% {transform: scale(1.1)}
  100% {transform: scale(1)}
}

/* The element to apply the animation to */
.TeamMemberCard:hover {
  transform: translateY(0px);
  animation-name: animation;
  animation-duration: 1s;
  transition: 1s;
}

.comingsoon img{
  opacity: 0.5;
}

.comingsoon {
  position: relative;
}

.comingsoon p{
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: rotate(-20deg); */
  transform: translate(-50%, -50%);
  font-size: xxx-large;
  font-weight: bolder;
}

/* .comingsoon .p1{
  top: -50%;
  left: 20%;
}

.comingsoon .p2{
  top: -120%;
  left: 22%;
} */

.sublink-item:hover img {
  transform: scale(1);
  animation-name: animation2 !important;
  animation-duration: 1s;
}

.NFTCard:hover {
  transform: translateY(0px);
  animation-name: animation1;
  animation-duration: 1s;
}

.roadmap .roadmap-content:nth-child(1) {
  bottom: -125px;
}
.roadmap .roadmap-content:nth-child(2) {
  top: -80px;
}
.roadmap .roadmap-content:nth-child(3) {
  bottom: -125px;
}
.roadmap .roadmap-content:nth-child(4) {
  top: -80px;
}

.roadmap::after {
  content: "";
    width: 100%;
    position: relative;
    height: 5px;
    display: block;
    background-image: linear-gradient(to right, transparent, #a3a3a3, transparent);
    bottom: 80px;
}

.roadmap .roadmap-content:nth-child(1)::after {
  content: "";
    width: 20px;
    position: absolute;
    height: 20px;
    display: block;
    top: -30px;
    left: 50px;;
    border-radius: 50%;
    background: red;
}
.roadmap .roadmap-content:nth-child(2)::after {
  content: "";
    width: 20px;
    position: absolute;
    height: 20px;
    display: block;
    bottom: -13px;
    left: 50px;;
    border-radius: 50%;
    background: red;
}
.roadmap .roadmap-content:nth-child(3)::after {
  content: "";
    width: 20px;
    position: absolute;
    height: 20px;
    display: block;
    top: -30px;
    left: 50px;;
    border-radius: 50%;
    background: red;
}
.roadmap .roadmap-content:nth-child(4)::after {
  content: "";
    width: 20px;
    position: absolute;
    height: 20px;
    display: block;
    bottom: -13px;
    left: 50px;;
    border-radius: 50%;
    background: red;
}

.main-timeline-section{
  position: relative; 
  width: 100%;  
  margin:auto; 
  height:300px;
}
.main-timeline-section .timeline-start,
.main-timeline-section .timeline-end{
  position: absolute;
  background: #00BFFF;
  border: 3px solid #FFF;
  border-radius:100px;
  top:50%;
  transform: translateY(-50%);
  width:30px;
  height:30px;
  z-index: 10;
}
.main-timeline-section .timeline-end{
  right:0px;
}
.main-timeline-section .conference-center-line{
  position: absolute;
  width:100%;
  height:5px;
  top:50%;
  transform: translateY(-50%);
  background-image: linear-gradient(to right, transparent, #FFBF00 40%, #A3A3A3 25%,  transparent);
}

.timeline-article{
    width: 20%;
    position: relative;
    min-height: 300px;
    float: left;
}
.timeline-article .content-date {
    position: absolute;
    top: 35%;
    left: -30px; 
    font-size:18px;
}
.timeline-article .meta-date {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%); 
    width:30px;
    height:30px;
    border-radius: 100%;
    background: #a3a3a3;
    border:3px solid #FFF;
}
.timeline-article .content-box {
/*   box-shadow: 2px 2px 4px 0px #888; */
  border-radius: 5px;
  position: absolute;
  top: 60%;
  left: -80px; 
  padding:10px;
  color: white;
  text-align: center;
}
.timeline-article-bottom .content-date {
  top: 59%;
}
.timeline-article-bottom .content-box {
  top: -10%;
}

.timeline-article:nth-child(1) .meta-date,
.timeline-article:nth-child(2) .meta-date {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: #FFBF00;
  border: 3px solid #a3a3a315;
}
.timeline-article:nth-child(3) .meta-date,
.timeline-article:nth-child(4) .meta-date {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: #A3A3A3;
  border: 3px solid #a3a3a315;
}
.video-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.preview-container {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-bottom: 56.25%;
  position: relative;
  text-align: center;
  width: 100%;
}

.preview-container iframe {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.preview, .preview-container iframe {
  background-color: #fff;
  border-radius: 15px;
  height: 100%;
  max-width: 100%;
  padding: 20px;
}